<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>
	<meta name="description" content="Blueprint: A basic template for a responsive multi-level menu" />
	<meta name="keywords" content="blueprint, template, html, css, menu, responsive, mobile-friendly" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="favicon.ico">
	<!-- demo styles -->
	<link rel="stylesheet" type="text/css" href="/assets/css/demo.css" />
	<!-- menu styles -->
	<link rel="stylesheet" type="text/css" href="/assets/css/component.css" />
	<script src="/assets/js/modernizr-custom.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168448191-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-168448191-1');
	</script>
	    <script
      crossorigin="anonymous"
      src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"
    ></script>
</head>

<body>
	<!-- Main container -->
	<div class="container">
		<!-- Blueprint header -->
		<header class="bp-header cf">
			<div class="dummy-logo">
				<a href="https://theologycommons.github.io/"> Bot</a>
			</div>
			<div class="bp-header__main">
{{ site.title }}</br>
{{ page.title }}
			</div>
		</header>
		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
			
			{% include menu.html %}
			<div id="webchat" class="content">
    <script>
      window.WebChat.renderWebChat(
        {
          directLine: window.WebChat.createDirectLine({
            token: '-Ao_g8-Zfx4.2dcmp853mfrVvnvjgA92om5lt0mFRqmL8_r8WyOBr7A'
          }),
        },
        document.getElementById('webchat')
      );
    </script>
			</div
	</div>
	<!-- /view -->
	<script src="/assets/js/classie.js"></script>
	<!-- <script src="/assets/js/dummydata.js"></script> -->
	<script src="/assets/js/main.js"></script>
	<script>
	(function() {
		var menuEl = document.getElementById('ml-menu'),
			mlmenu = new MLMenu(menuEl, {
				// breadcrumbsCtrl : true, // show breadcrumbs
				// initialBreadcrumb : 'all', // initial breadcrumb text
				backCtrl : false, // show back button
				// itemsDelayInterval : 60, // delay between each menu item sliding animation
				onItemClick: navtoMenu// callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
			});

		// mobile menu toggle
		var openMenuCtrl = document.querySelector('.action--open'),
			closeMenuCtrl = document.querySelector('.action--close');

		openMenuCtrl.addEventListener('click', openMenu);
		closeMenuCtrl.addEventListener('click', closeMenu);

		function openMenu() {
			classie.add(menuEl, 'menu--open');
			closeMenuCtrl.focus();
		}

		function closeMenu() {
			classie.remove(menuEl, 'menu--open');
			openMenuCtrl.focus();
		}
		function navtoMenu(sender,args){
		return false;
		}

		// simulate grid content loading
		var gridWrapper = document.querySelector('.content');

		<!-- function loadDummyData(ev, itemName) { -->
			<!-- ev.preventDefault(); -->

			<!-- closeMenu(); -->
			<!-- gridWrapper.innerHTML = ''; -->
			<!-- classie.add(gridWrapper, 'content--loading'); -->
			<!-- setTimeout(function() { -->
				<!-- classie.remove(gridWrapper, 'content--loading'); -->
				<!-- gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>'; -->
			<!-- }, 700); -->
		<!-- } -->
	})();
	</script>
</body>

</html>
